mixin petersburg-tabs
  - var wayDirectory = 'Petersburg/Mercedes-Benz_'

  #petersburg.tab-pane.tariffs-political__tab-pane.fade(role="tabpanel" aria-labelledby="petersburg-tab")
    .tab-content.tariffs-political__carousel-wrapper
      #MercedesBenzSclassW222MaybachPet.tab-pane.fotorama.fotorama__tariffs-political.fade.show.active(data-auto="false" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30' role="tabpanel" aria-labelledby="petersburgHeadingOne")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/1.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/2.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/3.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/4.jpg" data-caption="Mercedes-Benz S class W222 Maybach")

      #MercedesBenzSclassW222Pet.tab-pane.fotorama.fotorama__tariffs-political.fade(data-auto="false" role="tabpanel" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30' aria-labelledby="petersburgHeadingTwo")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/1.jpg" data-caption="Mercedes-Benz S class W222")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/2.jpg" data-caption="Mercedes-Benz S class W222")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/3.jpg" data-caption="Mercedes-Benz S class W222")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/4.jpg" data-caption="Mercedes-Benz S class W222")

      #MercedesBenzEclassW213Pet.tab-pane.fotorama.fotorama__tariffs-political.fade(data-auto="false" role="tabpanel" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30' aria-labelledby="petersburgHeadingThree")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/1.jpg" data-caption="Mercedes-Benz E class W213")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/2.jpg" data-caption="Mercedes-Benz E class W213")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/3.jpg" data-caption="Mercedes-Benz E class W213")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/4.jpg" data-caption="Mercedes-Benz E class W213")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/5.jpg" data-caption="Mercedes-Benz E class W213")

      #MercedesBenzVclassPet.tab-pane.fotorama.fotorama__tariffs-political.fade(data-auto="false" role="tabpanel" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30' aria-labelledby="petersburgHeadingFour")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/1.jpg" data-caption="Mercedes-Benz V class")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/2.jpg" data-caption="Mercedes-Benz V class")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/3.jpg" data-caption="Mercedes-Benz V class")
        img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/4.jpg" data-caption="Mercedes-Benz V class")

    .tariffs-political__information
      ul#accordionTariffsPoliticalPetersburg.nav.tariffs-political__accordion(role="tablist")

        li.nav-item.tariffs-political__card
          a#petersburgHeadingOne.nav-link.tariffs-political__card-header.active(data-toggle="tab" href="#MercedesBenzSclassW222MaybachPet" role="tab" aria-controls="MercedesBenzSclassW222MaybachPet" aria-selected="true")
            h2
              button(type="button" data-toggle="collapse" data-target="#petersburgCollapseOne" aria-expanded="true" aria-controls="petersburgCollapseOne")
                | Mercedes-Benz S class W222 Maybach
          #petersburgCollapseOne.collapse.show.tariffs-political__collapse(aria-labelledby="petersburgHeadingOne" data-parent="#accordionTariffsPoliticalPetersburg")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        li.nav-item.tariffs-political__card
          a#petersburgHeadingTwo.nav-link.tariffs-political__card-header(data-toggle="tab" href="#MercedesBenzSclassW222Pet" role="tab" aria-controls="MercedesBenzSclassW222Pet" aria-selected="false")
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#petersburgCollapseTwo" aria-expanded="false" aria-controls="petersburgCollapseTwo")
                | Mercedes-Benz S class W222
          #petersburgCollapseTwo.collapse.tariffs-political__collapse(aria-labelledby="petersburgHeadingTwo" data-parent="#accordionTariffsPoliticalPetersburg")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        li.nav-item.tariffs-political__card
          a#petersburgHeadingThree.nav-link.tariffs-political__card-header(data-toggle="tab" href="#MercedesBenzEclassW213Pet" role="tab" aria-controls="MercedesBenzEclassW213Pet" aria-selected="false")
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#petersburgCollapseThree" aria-expanded="false" aria-controls="petersburgCollapseThree")
                | Mercedes-Benz E class W213
          #petersburgCollapseThree.collapse.tariffs-political__collapse(aria-labelledby="petersburgHeadingThree" data-parent="#accordionTariffsPoliticalPetersburg")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        li.nav-item.tariffs-political__card.tariffs-political__card_mb-40
          a#petersburgHeadingFour.nav-link.tariffs-political__card-header(data-toggle="tab" href="#MercedesBenzVclassPet" role="tab" aria-controls="MercedesBenzVclassPet" aria-selected="false")
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#petersburgCollapseFour" aria-expanded="false" aria-controls="petersburgCollapseFour")
                | Mercedes-Benz V class
          #petersburgCollapseFour.collapse.tariffs-political__collapse(aria-labelledby="petersburgHeadingFour" data-parent="#accordionTariffsPoliticalPetersburg")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

      +button-middle-gold-bg('button__animation-glare button__animation-glare_delay-1', 'button', 'Заказать автомобиль', 'button', 'modal', '#modalConsultation')

