mixin owl-carousel-thanksgiving-letters
  .owl-carousel.owl-theme.owl-carousel-ide.owl-carousel__thanksgiving-letters
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/01 - OOO-KA-Unistaff.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/01 - OOO-KA-Unistaff.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/02 - OOO-MorNeftGagstroy.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/02 - OOO-MorNeftGagstroy.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/03 - TOV-BP-Sovet-Evropi.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/03 - TOV-BP-Sovet-Evropi.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/04 - OOO-Ei-end-Bi-Travel-Club.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/04 - OOO-Ei-end-Bi-Travel-Club.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/05 - Route-Aviation-FZE.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/05 - Route-Aviation-FZE.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/06 - AO-SibEnergoRemont.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/06 - AO-SibEnergoRemont.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/07 - OOO-Solaris-Avia-Tour.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/07 - OOO-Solaris-Avia-Tour.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/09 - Aspect.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/09 - Aspect.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/10 - Asociaciya-Klub-France.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/10 - Asociaciya-Klub-France.jpg' alt='' role='img')
    .item
      a.fancybox__thanks(href=pathAssetsImg + 'thanksgiving-letters/11 - ANO-Center-Socialnih-Technologiy.jpg' data-fancybox="gallery" data-caption="" rel="gallery")
        img(src=pathAssetsImg + 'thanksgiving-letters/preview-thanksgiving-letters/11 - ANO-Center-Socialnih-Technologiy.jpg' alt='' role='img')
