mixin novosibirsk-fotorama
  - var wayDirectory = 'Novosibirsk/Mercedes-Benz_'

  #novosibirskFotorama.tab-pane.fade(role="tabpanel" aria-labelledby="novosibirskSelectTab")

    ul.nav-pills
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Выберите город
        .dropdown-menu
          .nav.nav-tabs(role="tablist")
            a#moscowSelectTab(role="tab" data-toggle='tab' href='#moscowFotorama' aria-controls="moscowFotorama" aria-selected="false") Москва
            a#petersburgSelectTab(role="tab" data-toggle='tab' href='#petersburgFotorama' aria-controls="petersburgFotorama" aria-selected="false") Санкт-Петербург
            a#sochiSelectTab(role="tab" data-toggle='tab' href='#sochiFotorama' aria-controls="sochiFotorama" aria-selected="false") Сочи
            a#novosibirskSelectTab.active(role="tab" data-toggle='tab' href='#novosibirskFotorama' aria-controls="novosibirskFotorama" aria-selected="true") Новосибирск
            a#vladivostokSelectTab(role="tab" data-toggle='tab' href='#vladivostokFotorama' aria-controls="vladivostokFotorama" aria-selected="false") Владивосток

      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Выберите класс авто
        .dropdown-menu
          .nav.nav-tabs(role="tablist")
            a#sClassW222MaybachNov.active(role="tab" data-toggle='tab' href='#mercedesSclassW222MaybachNov' aria-controls="mercedesSclassW222MaybachNov" aria-selected="true") Mercedes-Benz S class W222 Maybach
            a#sClassW222Nov(role="tab" data-toggle='tab' href='#mercedesSclassW222Nov' aria-controls="mercedesSclassW222Nov" aria-selected="false") Mercedes-Benz S class W222
            a#eClassW213Nov(role="tab" data-toggle='tab' href='#mercedesEclassW213Nov' aria-controls="mercedesEclassW213Nov" aria-selected="false") Mercedes-Benz E class W213
            a#vClassNov(role="tab" data-toggle='tab' href='#mercedesVclassNov' aria-controls="mercedesVclassNov" aria-selected="false") Mercedes-Benz V class

    .tab-content
      #mercedesSclassW222MaybachNov.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="sClassW222MaybachNov")
        .fotorama.fotorama__tariffs-political(data-auto="false" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30')
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/1.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/2.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/3.jpg" data-caption="Mercedes-Benz S class W222 Maybach")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222_Maybach/4.jpg" data-caption="Mercedes-Benz S class W222 Maybach")

        .tariffs-political__fotorama_info
          p
            | Доступно для заказа:
            br
            | 27 автомобилей
          p
            | Год выпуска:
            br
            | 2019 г. | 2018 г. | 2017 г.
          ul
            li AMG пакет
            li ЖК панель
            li Панорамная крыша

      #mercedesSclassW222Nov.tab-pane.fade(role="tabpanel" aria-labelledby="sClassW222Nov")
        .fotorama.fotorama__tariffs-political(data-auto="false" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30')
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/1.jpg" data-caption="Mercedes-Benz S class W222")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/2.jpg" data-caption="Mercedes-Benz S class W222")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/3.jpg" data-caption="Mercedes-Benz S class W222")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "S_class_W222/4.jpg" data-caption="Mercedes-Benz S class W222")

        .tariffs-political__fotorama_info
          p
            | Доступно для заказа:
            br
            | 27 автомобилей
          p
            | Год выпуска:
            br
            | 2019 г. | 2018 г. | 2017 г.
          ul
            li AMG пакет
            li ЖК панель
            li Панорамная крыша

      #mercedesEclassW213Nov.tab-pane.fade(role="tabpanel" aria-labelledby="eClassW213Nov")
        .fotorama.fotorama__tariffs-political(data-auto="false" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30')
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/1.jpg" data-caption="Mercedes-Benz E class W213")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/2.jpg" data-caption="Mercedes-Benz E class W213")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/3.jpg" data-caption="Mercedes-Benz E class W213")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "E_class_W213/4.jpg" data-caption="Mercedes-Benz E class W213")

        .tariffs-political__fotorama_info
          p
            | Доступно для заказа:
            br
            | 27 автомобилей
          p
            | Год выпуска:
            br
            | 2019 г. | 2018 г. | 2017 г.
          ul
            li AMG пакет
            li ЖК панель
            li Панорамная крыша

      #mercedesVclassNov.tab-pane.fade(role="tabpanel" aria-labelledby="vClassNov")
        .fotorama.fotorama__tariffs-political(data-auto="false" data-thumbwidth="101" data-thumbheight="101" data-thumbmargin='30')
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/1.jpg" data-caption="Mercedes-Benz V class")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/2.jpg" data-caption="Mercedes-Benz V class")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/3.jpg" data-caption="Mercedes-Benz V class")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/4.jpg" data-caption="Mercedes-Benz V class")
          img(src=pathAssetsImg + "tariffs-political/" + wayDirectory + "V_class/5.jpg" data-caption="Mercedes-Benz V class")

        .tariffs-political__fotorama_info
          p
            | Доступно для заказа:
            br
            | 27 автомобилей
          p
            | Год выпуска:
            br
            | 2019 г. | 2018 г. | 2017 г.
          ul
            li AMG пакет
            li ЖК панель
            li Панорамная крыша

      +button-middle-gold-bg('button__animation-glare button__animation-glare_delay-1', 'button', 'Заказать автомобиль', 'button', 'modal', '#modalConsultation')

